/*{
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}*/

body{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color:#cccccc
}

header{
    background-color: #7E2626;
}

header>div{
    justify-content: space-between;
}

h1, h2{
    font-family: 'Righteous', sans-serif;
}

header .nav-link{
    color: #ffffff;
}

header .nav-link:hover{
    color: #7E2626;
    background-color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
}

.nav .nav-item{
    padding-left: 10px;
}

#sessoes>div{
    background-color: hsla(0, 0%, 47%, 0.8);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#sessoes .dias:hover{
    color: #7E2626;
    cursor: pointer;
}

#conteudo{
    background-color: #2F2F2F;
}

#programacao img{
    max-height: 500px;
    width: 338px;;
}

.informacao-filme{
    margin-left: 48px;
}

h3{
    border-bottom:1px solid #ffffff;
}

h6{
    font-style: italic;
}

.legenda, .sala{
    background-color: #7E2626;
}

.informacao-filme button.btn{
    border: 1px solid #ffffff;
}

button.btn span.horario{
    color: #ffffff;
}

.filmes-disponiveis{
    background-color: rgba(0, 0, 0, 0.4);
}

.filmes-disponiveis button.btn:hover span.horario{
    display: none;
}

.filmes-disponiveis button.btn:hover:before{
    content: "COMPRAR";
}

.carousel .carousel-inner img{
    max-height: 959px;
    border: 1px solid black;
}

.em-breve{
    height: 300px;
    justify-content: center;
    align-items: center;
    background-image: url(./images/serge-kutuzov-meqVd5zwylI-unsplash.jpg);
    background-size: cover;
    opacity: 0.8;
}

.em-breve p{
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 3em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn a{
    color: #ffffff;
    text-decoration: none;
}

footer{
    background-color: rgba(0, 0, 0, 0.9);
}

footer ul{
    padding-left: 0;
}

footer ul li{
    list-style: none;
}

footer li{
    color: rgb(50, 50, 255)
}

footer h4{
    font-family: 'Righteous', sans-serif;
}


/*MEDIA QUERIES*/


@media screen and (max-width: 576px) {
    
    header>div{
        flex-direction: column;
        align-items: center;
    }

    header .nav{
        display: block;
    }

    .informacao-filme{
        padding-top: 24px;
    }

    .informacao-filme h3{
        font-weight: bold;
        border-bottom: 1px solid #ffffff;
    }

    .filmes-disponiveis img{
        display: none;
    }

    .filmes-disponiveis .informacao-filme{
        padding: 0;
        margin: 0;
    }

    h3{
        border-bottom:none;
    }
}

@media screen and (max-width: 768px) {
    
    header>div{
        flex-direction: column;
        align-items: center;
    }

    header .nav{
        display: flex;
    }

    .informacao-filme h3{
        font-weight: bold;
        border-bottom: 1px solid #ffffff;
    }

    .filmes-disponiveis img{
        display: none;
    }

    .filmes-disponiveis .informacao-filme{
        padding: 0;
        margin: 0;
    }
}