/* Código geral, que será herdado por qualquer dispositivo. Nesse caso, seria o código usado no desktop, na maioria das vezes.
Se você já conhece o conceito do Mobile First, esse primeiro código será destinado aos celulares. */
h1 {color: blue;}

/* Para dispositivos que têm uma largura mínima de 768 pixels. Tablets, por exemplo. */
@media screen and (min-width: 768px) {
h1 {color: yellow;}
}
/* Com uma largura mínima de 992 pixels. Monitores por exemplo. */
@media screen and (min-width: 992px) {
h1 {color: green;}
}
/* Dispositivos com largura mínima de 1200 pixels. Por exemplo TVs. */
@media screen and (min-width: 1200px) {
h1 {color: black;}
}
